<div class="grid">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card">
            <h5><u>Hydatis</u></h5>
            <hr>
            <div class="demo-screen-headline main-demo main-demo-1 overflow-hidden pb-0 mb-6" #home id="home">
                <div class="container px-5 px-md-0">
                    <div class="row">
                        <div class="col-lg-6 d-flex text-left pos-relative overflow-hidden">

                            <div class="content">
                                <h2 class="text-shadow" style="margin-top: 50px;">We are a product-focused Tech <strong class="studio">Hydatis Studio</strong>.</h2>
                                <p class="mt-3" style="font-size: 17px;"> We partner with ambitious people and companies to build digital products and experiences.<br>We help businesses make big decisions about their future by making tangible versions of tomorrow.<br>Our studio envisions, design, build and launch digital products that bring value to business and people.</p>
                            </div>
                            <div class="market-image">
                                <img alt="" class="logo-2" src="assets/layout/images/market.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-6 d-flex justify-content-center">
                    <button class="color-button" routerLink="/uikit/list">
                        <div>
                            <h6>Startups & Editeurs <i class="pi pi-arrow-circle-right"></i></h6>

                        </div>
                    </button>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <button class="color-button" routerLink="/uikit/input">
                        <div>
                            <h6>Appel D'Offres <i class="pi pi-arrow-circle-right"></i>
                            </h6>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    h5{
        color: rgb(191, 188, 188);
    }
    .studio{
        color: #ec642a;
    }
    .color-button {
    background-color: #ec642a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
}

.color-button h6 {
    margin: 0; /* Remove any default margins */
}

.row.align-items-center {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    flex: 0 0 20%;
    max-width: 50%;
    display: flex;
    justify-content: center;
}

.col-lg-6 {
    display: flex;
    align-items: flex-start;
}

.market-image {
    margin-left: 80px;
}

.market-image img {
    height: 250px;
    width: 320px;
}



</style>





